<nav>
    <ul>
        <li>
        <div class="capsule">
            <a href="/">
                Home
            </a></div>
        </li>
        <li>
        <div class="capsule">
            <a href="/tentang/14117160">
            About Me +
            </a></div>
        </li>
        <li>
        <div class="capsule">
            <a href="/img/gallery">
            My Gallery
            </a></div>
        </li>

    </ul>
</nav>